.search-container {
    width:600px;
    height:50px;
    color:White;
    margin:45px auto;
}


.weather-container {
    width:600px;
    height:50px;
    margin:45px auto;
    text-align: center;
}

.error-message {
  background-color: #ff7272;
  color: white;
  padding: 1em;
  margin-bottom: 5px;
}

#main {
  width: 50%;
  height: 150px;
  border: 1px solid;
  margin:45px auto;
}
